Websocket.close() is not thread-safe

My understanding is if one thread is blocked waiting for websocket.recv(), the API provides a close() function for another thread which does the right thing (calls shutdown on underlying socket, which will cause 1st thread to break out of recv()).

However .close() is not thread safe, as it tries to receive a close frame (per spec).

recv_frame() reads data out of the underlying socket in small increments (header, length, data, etc), thus if two threads (user thread 1 and terminating thread 2) call this function at the same time, it is likely that received data will be interleaved between the threads, and neither thread will receive a valid frame.

What can be done about it?
Sadly websocket RFC definition of close is quite tricky.
In short, websocket layer is considered closed when a close frame was sent and a close frame was received (RFC6455 section 5.5.1 last paragraph)

In addition to close messages, there are also considerations of closing the underlying socket correctly.

one hack is specified in RFC:
"As an example of how to obtain a clean closure in C using Berkeley
   sockets, one would call shutdown() with SHUT_WR on the socket, call
   recv() until obtaining a return value of 0 indicating that the peer
   has also performed an orderly shutdown, and finally call close() on
   the socket."

option 1.
provide a flag to close() similar to `enable_multithread`, when this flag is set, close only sends a close message but does not try to receive the response.

it's not clear at what point shutdown() should be called in that case.

one-directional shutdown() could be done immediately after sending out a close frame (with extra error handling for attempts to send pongs), except that it may not work on Mac OSX
(see shutdown() entry in https://docs.python.org/2/library/socket.html)

option 2.
implement crazy complicated proper locking that supports cases like "another thread is in the middle of recv_frame()" and "there is 1gig of incoming data in the pipe (before close response) that user does not want to lose."

the principle here would be that recv_frame is done while holding a lock and the when frame is received it is dispatched between waiting threads based on some indication what sort of message each thread expects.
