Missing support for fragmented messages

The library does not support fragmented messages as described in section 5.4 of [RFC 6455](https://www.rfc-editor.org/rfc/rfc6455.txt).
