recv() on non binary or text opcode should raise exception insted of returning empty string

In my opinion when the user makes a read but the opcode is unknown (not binary nor text) instead of returning an empty string an exception should be raised. The semantics of an empty string is unknown for client code and we should not use return values for unknown situations. I can submit a pull request if this is agreed.


https://github.com/websocket-client/websocket-client/blob/3c25814664fef5b78716ed8841123ed1c0d17824/websocket/_core.py#L318

I think it would help if you gave a hypothetical example of what a message would need to look like to end up at this else branch, because I'm doubtful if an exception would be correct here (at least without additional elif branches in the recv() function). I didn't look too closely, but since recv() calls recv_data() which in turn calls recv_data_frame(), and recv_data_frame() handles other opcode values, I think this else branch is normally reached with a ping, pong, or other special opcode. [RFC6455 section 5.2](https://tools.ietf.org/html/draft-ietf-hybi-thewebsocketprotocol-13#section-5.2) has info on these other opcodes, if it helps.

I'm closing this for now with the thought of reopening the issue if you choose to provide more specifics on what opcodes need a different return statement. You can also directly provide a PR with additional explanation, if you prefer.